/* Hero Section */
.hero {
    background-image: url('healthy-food-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    color: black; /* Change text color to black */
}

.hero-text h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}
